# Binaries
**/bin/
**/bin-int/

!vendor/bin/premake/

# Typhoon Files
**TyphoonProfile-*.json
*.log

# Visual studio files and folders
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

#other
*.txt
