[submodule "Typhoon/vendor/spdlog"]
	path = Typhoon/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Typhoon/vendor/GLFW"]
	path = Typhoon/vendor/GLFW
	url = https://github.com/JBAMeijer/glfw
[submodule "Typhoon/vendor/imgui"]
	path = Typhoon/vendor/imgui
	url = https://github.com/JBAMeijer/imgui
[submodule "Typhoon/vendor/glm"]
	path = Typhoon/vendor/glm
	url = https://github.com/JBAMeijer/glm
